extends layout.pug

append scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuKUXPfazCgPzZo5IxPXd5eROvvIDqUzc")
  script(type='module')
    include ../public/js/index.js 
append links
  style
    include ../public/css/index.css

block content
  h1 index page
  h1 map
  div(id='map')