<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="../public/assets/favicon.ico" type="image/x-icon">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <script src="../public/js/topbar.js"></script>

</head>

<body>
    <img src="" alt="">

    <div class="container">
        <p>name</p>
        <p>address</p>
        <p>rating </p>
        <img src="photo_url" alt="place image">
        <form action="/search" method="post">
            <input type="hidden" value="name" name="marker[name]">
            <input type="hidden" value="address" name="marker[address]">
            <input type="hidden" value="rating" name="marker[rating]">
            <input type="hidden" value="photo_url" name="marker[photo_url]">
            <input type="hidden" value="place_id" name="marker[place_id]">



            <button id="favo-button" type="submit">
                <i class="fas fa-heart"></i>
                <span id="favo-span"></span>
            </button>
        </form>
    </div>

</body>

</html>