extends layout.pug

append styles
	style
		include ../public/css/search.css
		include ../public/css/topbar.css
		
block content
	include topbar.pug
	
	input#search-input(type="text" value="Coffee")
	div#map
	
	- var MAPKEY = process.env.MAPKEY;
	- var endpoint = "https://maps.googleapis.com/maps/api/js?key="+ MAPKEY + "&libraries=places&callback=initAutocomplete";
	
	script
		include ../public/js/utils.js
		include ../public/js/search.js
	script(src= endpoint async defer)
