.navbar.navbar-expand-lg.navbar-light#topbar
	
	<div class="navbar-header">
		<a class="navbar-brand" href="/"><i class='fas fa-map'></i> FavoPlaces</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>

	div.collapse.navbar-collapse.justify-content-between#navbarSupportedContent
		div

		ul.navbar-nav.justify-content-center
			li.nav-item: a.nav-link(href="/search") SEARCH
			li.nav-item: a.nav-link(href='/favos') FAVOES

		div
			li.nav-item.dropdown
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
				div(class="dropdown-menu" aria-labelledby="navbarDropdown")
					- if(!user)
						a.dropdown-item(href='/register') Sign up
						a.dropdown-item(href='/login') Sign in
					- else
						a.dropdown-item(href='/logout') Log out

div.bg-stripe
script.
	$(".nav-item").click(function() {
		$( this ).addClass( "active" );
		var classes = $(this).attr('class');
	});

script
	include ../public/js/topbar.js
