.nav.navbar.navbar-expand-lg.navbar-light.d-flex.justify-content-center#topbar
	.container
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><i class='fas fa-map'></i> FavoPlaces</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		div.collapse.navbar-collapse#navbarSupportedContent
			ul.navbar-nav.mr-auto
				li.nav-item: a.nav-link(href="/")
					i.fas.fa-home
					|   Home
				li.nav-item.active: a.nav-link(href="/search")
					i.fas.fa-search
					|   Search
				li.nav-item: a.nav-link(href='/favos')
					i.fas.fa-heart
					|   Favos
				//- li.nav-item: a.nav-link(href='/register')
				//-     i.fas.fa-user-plus
				//-     |   Sign up
				//- li.nav-item: a.nav-link(href='/login')
				//-     i.fas.fa-sign-in-alt
				//-     |   Login
				li.nav-item: a.nav-link(href='/logout')
					i.fas.fa-sign-out-alt
					|   Logout
script.
	console.log('** FROM topbar.pug **');
	$(".nav-item").click(function() {
		$( this ).addClass( "active" );
		var classes = $(this).attr('class');
		console.log('** from topbar.pug **' + classes);
	});
			
