<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#projects-div">Yifei Wang</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
            <li>
            <a href="https://www.linkedin.com/in/yifeidesu/">
                <i class="fab fa-github"></i> GitHub</a>
            </li>
            <li>
            <a href="https://github.com/yifeidesu">
                <i class="fab fa-linkedin"></i> LinkedIn</a>
            </li>
            <li>
            <a href="#contact-div">
                <i class="fas fa-envelope"></i> Contact</a>
            </li>
            <li>
            <a href="https://github.com/yifeidesu/Resume">
                <i class="fas fa-file-alt"></i> Resume</a>
            </li>
        </ul>
        </div>
    </div>
</nav>