#main-content{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 4rem 4rem 0;
}

#main-content row {
    margin: 0;
    width: 100%;
    display: block;
}

.cell-whole{   
    display: inline-block;
    margin: 0;
    padding: 0 1rem 2rem 1rem;
    overflow: hidden;
    
    cursor: pointer;
}

.cell-content {
	border: 0.5px solid #D8D8D8;
    box-shadow: 2px 2px 2px #D8D8D8;
}

.cell-content:hover {
    box-shadow: 4px 4px 4px #D8D8D8;
}

.cell-upper {
    
    padding: 0.8rem 0.8rem 0.4rem;
}

.cell-lower {
    padding: 0.5rem 0.8rem;
    font-size: inherit;
    font-weight: 500;
}

.img-div {
    width: 100%;
    padding-bottom: 0.5rem;
}

.favo-img {  
    height: 10em;
    width: 100%;
    object-fit: cover;
}

.favo-name{
    font-size: 1.5rem;

}

.favo-rating {
    color:rgb(255, 208, 0);
}

.favo-name, .favo-rating {
    margin-bottom: 0.25rem;
    font-size: large;
}

.favo-users i {
    color: red;
}

.favo-users span {
    font-weight: 500;
    font-size: inherit;
}

.favo-users{
    color: grey;
    font-size: 1rem;
    margin-bottom: 0;
    
}

.favo-users span {
    color: black;
    
}

div a.btn.btn-link {
    font-size: 0.9rem;
    padding: 0;
}

/* the cols in right part */
.container.col {
    padding: 0;
}




