#content {
    padding-top: 10vw;
    width:100%;
    height:100%;
    color: rgba(0, 0, 0, 0.8);
    background:linear-gradient(to right, rgb(0, 255, 179), rgb(212, 255, 242));
}

.btn {
    border-radius: 2rem;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
}

.btn:hover {
    font-weight: 800;
}
