body {
    background: -prefix-linear-gradient(left, black, grey); /* compat old browser */
    background: linear-gradient(to right, rgb(0, 255, 179), rgb(212, 255, 242)); 
}

div.align-self-center {
    width: 100%;
    padding-bottom: 8rem;
}

#login-brand{
   
    font-weight: 800;
    font-size:2rem;
}

div.container {
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

form button {
    width: 100%;
    padding-bottom: 2rem;
}

#register-head {
    padding: 0.5rem 0 1rem 0;
}

#register-head p {
    font-size: larger;
    font-weight: 600;
}


