body {
    height: 100%;
    /* background-image: url("../assets/sweetpattern.jpg"); */
    background-size: cover;
}

.row {
    height: 100%;
}

.bg-1 {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, 
    #007BFF 25px, #007BFF 50px);
    height: 100vh;
    
}

.bg-2 {
    padding-left: 4em;
    background-color: rgba(255, 255, 255, .8);
}

div.align-self-center {
    width: 100%;
    padding-bottom: 8rem;
}

#login-brand {
    font-weight: 800;
    font-size: 2rem;
}

div.container {
    height: 100%;
    color: rgba(0, 0, 0, 0.6);
}

button.btn {
    width: 100%;
    letter-spacing: 1px;
}

button + p {    
    margin-top: 1em;
    margin-bottom: .5em;
}

span + a {
    text-decoration: rgba(0,0,0,0.3) underline;
}

#register-head {
    padding: 0.5rem 0 1rem 0;
}

#register-head p {
    font-size: larger;
    font-weight: 600;
}


.nav-item {
    font-weight: 600;
    padding: .5em;
    opacity: .5;
}

.nav-item a {
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.6);
}

.div-or {
    -bottom: 1em;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}