  /*
   * Sidebar
   */
  
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  background-color:  rgb(0, 255, 179);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }


  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

a.navbar-brand {
	opacity: 0.7;
	font-size: 2rem;
	font-weight: 600;
	padding: 0 2rem 4rem 2rem;
}

li.nav-item {
	letter-spacing: 2px;
	font-size: 1.2rem;
	font-weight: 600;
	padding: 0 2rem;
	border-right: 5px solid rgba(0, 0, 0, 0);
}

li.nav-item.active {
    border-right: 5px solid black;
}

li.nav-item:hover {
    border-right: 5px solid rgba(0, 0, 0, 0.2);
}


.sidebar .nav-link {
    font-weight: 500;
	color: rgba(255, 255, 255, .5);
}
  
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
  
  /*
   * Content
   */
  
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
  
  /*
   * Navbar
   */
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  /*
   * Utilities
   */
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  