#topbar {
    color: rgba(0, 0, 0, 0.8);
    padding: .8rem 12rem;
}

.bg-stripe {
    height: 6px;
    background-image: repeating-linear-gradient(-45deg, transparent, 
    transparent 2px, #007BFF 2px, #007BFF 12px);
}

ul.navbar-nav.mr-auto {
    padding-top: 0.25em;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: 2px;
}

li.dropdown {
    list-style-type: none;
}

a.navbar-brand {
    letter-spacing: 0;
    opacity: 0.8;
    padding-bottom: 4px!important;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #007BFF!important;
}

li.nav-item.active a {
    color: #007BFF!important;
}

li.nav-item a:hover {
    color: rgba(0, 0, 255, 0.4)!important;
}

li.nav-item {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 0.5em;
}