#topbar {
    color: rgba(0,0,0,0.8);
    padding: .8rem 8rem;
    border-bottom: 4px solid rgba(0,0,0,.05);
    /* box-shadow: 0 0 3px rgba(0,0,0,.14), 0 3px 6px rgba(0,0,0,.28); */
    /* background-color: rgb(212, 255, 242);  */
}

ul.navbar-nav.mr-auto {
    padding-top: 0.25em;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1em;
    letter-spacing: 2px;
}

a.navbar-brand {
    letter-spacing: 0;
    opacity: 0.8;
    padding-bottom: 4px!important;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

li.nav-item.active a {
    color: blue!important;
}

li.nav-item a:hover {
    color: rgba(0, 0, 255, 0.4)!important;
}

li.nav-item  {
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 0.5em;
}
